location: eastus
name: lunara-backend
properties:
  managedEnvironmentId: /subscriptions/c581bf76-aaa0-414b-9b77-828fe1bcdba4/resourceGroups/lunara-app-rg/providers/Microsoft.App/managedEnvironments/lunara-env
  configuration:
    secrets:
    - name: db-password
      value: npg_i8Po2sLuDUJl
    - name: secret-key
      value: RglSPABALP5hJ%w5CsM(E)a%nU)@7shorZ%9yxUSdugqD\MRKP
    activeRevisionsMode: Single
    ingress:
      external: true
      targetPort: 8000
      allowInsecure: false
      transport: auto
      corsPolicy:
        allowedOrigins:
        - "https://lunara-app.com"
        - "https://wonderful-grass-03e5ee00f.1.azurestaticapps.net"
        allowedMethods:
        - "GET"
        - "POST"
        - "PUT"
        - "DELETE"
        - "OPTIONS"
        - "PATCH"
        allowedHeaders:
        - "Origin"
        - "X-Requested-With"
        - "Content-Type"
        - "Accept"
        - "Authorization"
        allowCredentials: true
  template:
    containers:
    - image: lunaraappregistry.azurecr.io/lunara-backend:latest
      name: lunara-backend
      env:
      - name: SECRET_KEY
        secretRef: secret-key
      - name: DEBUG
        value: "False"
      - name: DB_NAME
        value: neondb
      - name: DB_USER
        value: neondb_owner
      - name: DB_PASSWORD
        secretRef: db-password
      - name: DB_HOST
        value: ep-cold-night-a8z0ndqj-pooler.eastus2.azure.neon.tech
      - name: DB_PORT
        value: "5432"
      - name: DJANGO_SETTINGS_MODULE
        value: safesend.settings.production
      resources:
        cpu: 1.0
        memory: 2Gi
    scale:
      minReplicas: 1
      maxReplicas: 3
tags: {}
type: Microsoft.App/containerApps